.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 400px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.dialog-actions button {
    margin-left: 10px;
}